body{
	background-image: url('../img/dev.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

body header{
	height: 50px;
	background-color: rgba(255,255,255,0.3);
	background-image: url('../img/logo_czasdev.png');
	background-repeat: repeat-x;
}

body main{ height: calc(100vh - 50px - 30px); }

body footer{
	height: 30px;
	text-align: center;
	color: #fff;
}
body footer a.page{ cursor: pointer; }
